$color-primary: #19456b;
$color-secondary: #11698E;
$color-pale: #f8f1f1;
$color-accent: #16c79a;
$ebony-bg: #272731;
$ebony-accent: #B4AD86;
$jade-bg: #7AB1C5;
$jade-accent: #E5CC93;
$denim-bg: #9C6320;
$denim-accent: #738C99;


a:link {
    color: $color-accent;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 1px solid $color-accent;
}
a:visited {
    color: $color-accent;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 1px solid $color-accent;
}
a:hover {
    color: $color-pale;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 1px solid $color-pale;
}
a:active {
    color: $color-pale;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 1px solid $color-pale;
}

body {
    background-color: $color-pale;
}

h1, h4 {
    font-family: 'Acme', sans-serif;
    color: $color-pale;
}

h2, h3 {
    font-family: 'Acme', sans-serif;
    color: $color-primary;
}

p {
    font-family: 'Acme', sans-serif;
    color: $color-primary;
}

.gallery {
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}

.artItem {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#glazeCheckboxes .btn-ebony {
    background-color: $ebony-bg;
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 200%;
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: black;   
}

#glazeCheckboxes .btn-ebony.active {
    border-color: $color-accent;
    border-width: 4px;
    color: white;
}

#glazeCheckboxes .btn-jade {
    background-color: $jade-bg;
    color: white;
    font-family: 'Acme', sans-serif;
    font-size:200%;
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: black;

}

#glazeCheckboxes .btn-jade.active {
    border-color: $color-accent;
    border-width: 4px;
    color: white;
}

#glazeCheckboxes .btn-denim {
    background-color: $denim-bg;
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 200%;
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: black;
}

#glazeCheckboxes .btn-denim.active {
    border-color: $color-accent;
    border-width: 4px;
    color: white;
}

.btn-primary {
    background-color: $color-accent;
    color: $color-primary;
}

.carousel-indicators .active{
    background-color: $color-accent;
}

.fhDark {
    color: $color-primary;
}

.fhLight {
    color: $color-pale;
}

.friends-body {
    background-color: $color-accent;
}

.card .friends-header {
    background-color: $color-primary;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.friends-title {
    padding-left: 20px;
}

.funhouse-logo {
    border-radius: 65px;
}

.App .jumbotron {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: $color-pale;
    color: $color-pale;
}

.jumbotron-center {
    /* Center rectangle on the header */
    background: $color-secondary;
    border-radius: 29px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    background-color: $color-primary; 
    font-family: 'Acme', sans-serif;
}

.navbar-text a {
    border-bottom: none;
}

.nav-item a {
    border-bottom: none;
    font-size: 150%;
}

.parallax {
    background-image: url(\background\display.webp);
    height: 750px;
  
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row-content {
    padding: 50px 0;
    border-bottom: 2px ridge;
    min-height: 100px;
}

.site-footer {
    background-color: $color-primary;
    color: $color-pale;
}

.site-footer-text {
    color: $color-pale;
}

